doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../public/stylesheets/css/foundation.css', type='text/css')
		link(rel='stylesheet', href='../public/stylesheets/css/slick.css', type='text/css')
		link(rel='stylesheet', href='../public/stylesheets/css/slick-theme.css', type='text/css')
		link(rel='stylesheet', href='../public/stylesheets/css/app.css', type='text/css')
  body
    block content
