body {
  background-color: black; }

nav {
  background-color: white;
  padding-top: 0;
  overflow: hidden; }
  nav ul {
    margin: 0;
    padding: 0;
    display: none; }
    @media (min-width: 715px) {
      nav ul {
        display: block; } }
    nav ul li {
      list-style-type: none;
      display: block;
      text-decoration: none;
      color: black;
      font-family: "Roboto Slab"; }
      @media (min-width: 715px) {
        nav ul li {
          display: inline-block;
          float: right; } }
      nav ul li a {
        padding: 12px 20px;
        display: block;
        text-decoration: none;
        text-align: center;
        color: black; }
        nav ul li a:hover {
          background: #d9d9d9;
          color: black;
          transition: all 0.3s ease; }

#logo {
  background-color: #4C4C4C;
  list-style-type: none;
  display: block;
  text-decoration: none;
  color: white;
  font-family: "Roboto Slab"; }
  @media (min-width: 715px) {
    #logo {
      display: inline-block;
      float: left; } }
  #logo a {
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white; }

#subnav li.items {
  overflow: hidden;
  display: none; }

/* MOVE TO _carousel.scss */
#carousel {
  display: block; }
  #carousel img {
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }

footer {
  background-color: #4C4C4C;
  color: white;
  margin: 0;
  min-height: 200px;
  width: 100%; }
  footer .links {
    list-style-type: none;
    text-align: center; }
    footer .links li {
      margin-top: 0.5em; }
      footer .links li a {
        list-style-type: none;
        display: block;
        text-decoration: none;
        color: white;
        font-family: "Roboto Slab"; }
    footer .links:first-child {
      float: left;
      margin: 3em 1em 0 4em; }
      @media (min-width: 715px) {
        footer .links:first-child {
          display: inline-block;
          margin: 3em 1em 0 16em; } }
    footer .links:nth-child(2) {
      float: right;
      margin: 3em 4em 0 1em; }
      @media (min-width: 715px) {
        footer .links:nth-child(2) {
          display: inline-block;
          margin: 3em 16em 0 1em; } }

.content {
  background-color: white;
  color: white;
  margin: 0;
  list-style-type: none;
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Roboto Slab";
  min-height: 16em;
  text-align: center; }
  .content h2 {
    margin: 2em 0 1.5em; }

button {
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #D04C4C;
  color: white;
  border: 0;
  padding: 10px 15px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #682626, 0 5px 0 #913535, 0 6px 6px rgba(0, 0, 0, 0.6);
  margin: 1em 0 3em 0; }
  button:focus {
    outline: 0; }
  button:active {
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0, 0, 0, 0.9);
    -webkit-transform: translateY(3px); }
  button a {
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=style.css.map */
