$link-color: black;
$link-vertical-padding:10px;    // Controls Menu top & bottom padding
$link-horizontal-padding:15px;  // Contols Menu left & right padding
$menu-background: steelblue;        // Control Menu Color Scheme

/* MOVE TO _mixin.scss */

// MEDIA QUERIES

@mixin breakpoint {
  @media (min-width: 715px) { @content; }
}

// MAIN NAV

nav {
  background-color: $menu-background;
  padding-top: 0;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: block;
      text-decoration: none;
      color: black;
      border-left: 1px solid #8d8d8d;
      @include breakpoint {
        display: inline-block;
        float: left;
      }
      a {
        padding: $link-horizontal-padding $link-vertical-padding;
        display: block;
        text-decoration: none;
        text-align: center;
        color: $link-color;
        &:hover {
          background: darken(#F3F3F3,10%);
          color: $link-color;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

// SUBNAV

#subnav li.items {
  overflow: hidden;
  display: none;
}

/* MOVE TO _carousel.scss */

// CAROUSEL

#carousel {
  // background-image: ;
  background-position: center;
  background-repeat: none;
  max-height: 350px;
  width: 100%;
}



