$pri-link-color:          black;
$sec-link-color:          white;
$link-vertical-padding:   20px;    // Controls Menu top & bottom padding
$link-horizontal-padding: 12px;    // Contols Menu left & right padding
$pri-menu-background:     white;   // Primary Menu Color Scheme
$sec-menu-background:     #4C4C4C; // Secondary Menu Color Scheme 
$paragraph-text:          "Open Sans", "HelveticaNue", sans-serif;
$header-text:             "Roboto Slab";

/* MOVE TO _mixin.scss */

// MEDIA QUERIES
@mixin breakpoint {
  @media (min-width: 715px) { @content; }
}
// MENU STYLING
@mixin menu-links($text) {
  list-style-type: none;
  display: block;
  text-decoration: none;
  color: $text;
  font-family: $header-text;
}
@mixin module-style {
  background-color: $sec-menu-background;
  color: $sec-link-color;
  margin: 0;
}

// GLOBAL
body {
  background-color: black;
}

// MAIN NAV
nav {
  background-color: $pri-menu-background;
  padding-top: 0;
  overflow: hidden;
  ul {
    margin: 0;  
    padding: 0;
    li {
      @include menu-links(black);
      @include breakpoint {
        display: inline-block;
        float: right;
      }
      a {
        padding: $link-horizontal-padding $link-vertical-padding;
        display: block;
        text-decoration: none;
        text-align: center;
        color: $pri-link-color;
        &:hover {
          background: darken(#F3F3F3,10%);
          color: $pri-link-color;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

// NAV LOGO
#logo {
  background-color: $sec-menu-background;
  @include menu-links(white);
  @include breakpoint {
    display: inline-block;
    float: left;
  }
  a {
    padding: $link-horizontal-padding $link-vertical-padding;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
  }
}

// SUBNAV
#subnav li.items {
  overflow: hidden;
  display: none;
}

/* MOVE TO _carousel.scss */

// CAROUSEL
#carousel {
  img {
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
  }
}

// FOOTER
footer {
  display: none;
  overflow: hidden;
  @include module-style;
  min-height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  .links {
    list-style-type: none;
    text-align: center;
    li { 
      margin-top: 0.5em;
      a {
        @include menu-links(white);
      }
    }
    &:first-child {
      float: left;
      margin: 3em 1em 0 4em;
      @include breakpoint {
        display: inline-block;
        margin: 3em 1em 0 16em;
      }
    }
    &:nth-child(2) {
      float: right;
      margin: 3em 4em 0 1em;
      @include breakpoint {
        display: inline-block;
        margin: 3em 16em 0 1em;
      }
    }
  }
}

// MAIN CONTENT
.content {
  text-align: center;
  font-family: sans-serif;
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 6.5em;
  overflow: hidden;
}

// Positioning Branch
