$pri-link-color:          black;
$sec-link-color:          white;
$link-vertical-padding:   20px;    // Controls Menu top & bottom padding
$link-horizontal-padding: 12px;    // Contols Menu left & right padding
$pri-menu-background:     white;   // Primary Menu Color Scheme
$sec-menu-background:     #4C4C4C; // Secondary Menu Color Scheme 
$paragraph-text:          "Open Sans", "HelveticaNue", sans-serif;
$header-text:             "Roboto Slab";
